html, body, #app {
	// background: #f1f1f1;
	color: black;
	margin: 0;
	height: 100vh;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
						transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
						transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
}

.gradient__bg {
	/* ff 3.6+ */
	background:-moz-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* safari 5.1+,chrome 10+ */
	background:-webkit-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* opera 11.10+ */
	background:-o-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* ie 10+ */
	background:-ms-radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* global 92%+ browsers support */
	background:radial-gradient(circle at 0% 29%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


// @media (prefers-color-scheme: dark) {
// 	body { 
// 		background: #333 !important;
// 		color: white !important;
// 	}
// 	.tickets-list table#tickets thead {
// 		background-color: #333 !important;
// 	}
// 	.menu-list a.is-active, .menu-list a:hover {
// 		background-color: rgba(70,40,93,.075);
// 		color: #9b7ab5;
// 	}
// 	.table td, .table th {
// 		color: #9b7ab5;
// 	}
// }

// @media (prefers-color-scheme: light) {
// 	body { 
// 		background: #f1f1f1 !important; 
// 		color: black !important; 
// 	}
// 	.tickets-list table#tickets thead {
// 		background-color: #f1f1f1 !important;
// 	}
// 	.menu-list a.is-active, .menu-list a:hover {
// 		// background-color: rgba(70,40,93,.075);
// 		// color: #46285d;
// 	}
// }


#app {
	/*display: flex;*/
	/*justify-content: center;*/
	/*flex-wrap: nowrap;*/
	/*flex-direction: row;*/
	/*display: grid;*/
	/*grid-template-columns: 1fr 6fr;*/
	/*grid-template-columns: repeat(12, minmax(0, 1fr));*/
	/*grid-gap: 10px;*/
	/*background-color: #fff;*/
	max-width: 100%;
	min-width: 0px;
	height: 100vh;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

#app > .layout {
	max-height: 100vh;
	height: 100vh;
}

#app > .layout aside {
	/*grid-column: span 2/span 2;*/
	/*margin-top: 1.25rem;*/
	position: relative;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0px;
	width: 250px;
	/*overflow-y: auto;*/
	z-index: 20;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	transition: transform 0.25s ease-out 0s;

	&.sidebar {
		width: 250px;
		height: 100vh;
		padding: 12px;

		background: rgb(238, 238, 238);
		font-size: 13px;

		top: 0px;
		bottom: 0px;
		left: 0px;
		display: block;
		/*overflow: auto;*/
		position: fixed;

		ul li.is-active[aria-current="page"] a,
		a.is-active[aria-current="page"] {
			background-color: rgba(91,52,120,.1);
		}

		ul li.is-active a,
		a.is-active {
			background-color: #fff0;
		}

		ul, ul li {
			list-style: none
		}

		ul li a {
			border-bottom: none;
			display: block
		}

		ul li ul {
			padding-left: 20px
		}

		h1.logo {
			font-size: 2em;
			color: black;
		}
	}
}

#app > .layout main {
	position: relative;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	margin-left: 250px;
	border-radius: 0.5rem;
	/*overflow: hidden;*/
	/*color: rgba(0, 0, 0, 1);*/
	/*background-color: rgba(255, 255, 255, 1);*/
	border-width: 1px;
	display: block;

	&.page {
		display: block;
		/*margin-left: 250px;*/
		height: 100vh;
	}
}


.ticket-search {
	padding: 95px 38px;
	/*background-image: url('./images/background.jpg');*/
}

.icon {
	pointer-events: none;
}

.has-icons-left svg.icon {
	margin-right: 8px!important;
}

.has-icons-right svg.icon {
	margin-left: 8px!important;
}

.topbtn {
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: row;
}

header.container {
	/*margin: 12px 0;*/
}

.tickets-list {
	overflow-y: scroll;
	height: 87vh;
	padding: 0;
	margin-top: 10px;

	&::-webkit-scrollbar {
		width: 8px
	}

	&::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: 4px
	}

	&:hover::-webkit-scrollbar-thumb {
		background: hsla(0,0%,53.3%,.4)
	}

	&:hover::-webkit-scrollbar-track {
		background: hsla(0,0%,53.3%,.1)
	}

	.table-container {
		display: table;
		position: static;
		height: 100%;
		width: 100%;
	}

	table#tickets {
		position: relative;
		overflow-y: scroll;

		thead {
			position: sticky;
			top: 0px;
			background-color: rgb(241 241 241); 
			transition: box-shadow 150ms ease 0s;
			z-index: 9;
		
			th {
				text-align: left;
				font-weight: bold;
				font-size: 14px;
				padding: 10px;
			}
		}
	}
}


.checkbox input[type='checkbox']:checked + .checkbox-mark {
	opacity: 1;
	color: rgb(255, 255, 255);
	transform: translateY(0px) scale(1);
}